* {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1126px;
  margin: 0 auto;
}

.header {
  min-height: 820px;
  padding: 26px 77px;
  background: url("../img/bg1.jpg") center center/cover no-repeat;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav .main_link {
  margin-top: 7px;
  font-family: "Larsseit";
  font-size: 24px;
  color: #62d0df;
}
.header .nav .menu {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav .menu .menu_item {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.header .nav .menu .menu_item a {
  font-family: "Larsseit";
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
}
.header .nav .menu .menu_item::after {
  content: "";
  display: block;
  margin-top: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 0%;
  height: 1px;
  background-color: #22356f;
}
.header .nav .menu .menu_item:hover::after {
  content: "";
  display: block;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background-color: #22356f;
}
.header .nav .nav_btn {
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: none;
  background: #62d0df;
  border-radius: 50px;
  font-family: "Larsseit";
  font-size: 14px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}
.header .nav .nav_btn:hover {
  background: none;
  color: #62d0df;
}
.header .main_link {
  display: block;
  margin-top: 180px;
  font-family: "Larsseit";
  font-size: 24px;
  color: #62d0df;
}
.header .header_text {
  margin-top: 227px;
  font-family: "Larsseit";
  font-size: 24px;
  line-height: 42px;
  max-width: 469px;
  color: #22356f;
}
.header .header_btn {
  width: 150px;
  height: 50px;
  margin-top: 63px;
  border: none;
  background: #f9b640;
  font-family: "Larsseit";
  font-size: 16px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #ffffff;
}
.header .header_btn:hover {
  background: none;
  color: #f9b640;
}

.why {
  padding: 150px 0 0 178px;
  min-height: 540px;
  background: url(../img/woman.jpg) right no-repeat;
  background-color: #62d0df;
}
.why h2 {
  font-family: "Larsseit";
  font-size: 36px;
  color: white;
}
.why .why_text {
  font-family: "Larsseit";
  font-size: 16px;
  width: 555px;
  margin-top: 80px;
  line-height: 35px;
  width: 555px;
  color: #ffffff;
}
.why .why_text span {
  font-size: 24px;
}

.about {
  padding: 147px 0 0 0;
  min-height: 370px;
}
.about .about_wrapper {
  margin-left: 106px;
  max-width: 890px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about .about_wrapper .about_link a {
  font-family: "Larsseit";
  font-size: 16px;
  color: #22356f;
}
.about .about_wrapper .about_text {
  max-width: 592px;
  font-family: "Larsseit";
  font-size: 24px;
  line-height: 34px;
  color: #22356f;
}

.help {
  min-height: 600px;
  padding: 46px 0 122px 0;
}
.help .link_help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.help .link_help a {
  font-family: "Larsseit";
  font-size: 16px;
  color: rgba(34, 53, 111, 0.5);
}
.help .help_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}
.help .help_wrapper .squere {
  width: 360px;
  height: 360px;
}
.help .help_wrapper .squere .divider {
  margin: 0 auto;
  margin-top: 71px;
  height: 1px;
  width: 255px;
  background-color: #fff;
}
.help .help_wrapper .squere .help_li {
  margin-top: 31px;
  margin-left: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help .help_wrapper .squere .help_li .help_li_title {
  font-family: "Larsseit";
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}
.help .help_wrapper .squere .help_li .help_li_round {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 15px;
  background: #e9b730;
}
.help .help_wrapper .squere_1 {
  background-color: #ffe2de;
}
.help .help_wrapper .squere_2 {
  background-color: #c4e769;
}
.help .help_wrapper .squere_3 {
  background-color: #62d0df;
}
.help .help_wrapper .squere_4 {
  background-color: #0052c1;
}

.color {
  min-height: 960px;
}
.color .color_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.color .color_wrapper .squere {
  width: 480px;
  height: 480px;
}
.color .color_wrapper .squere_1 {
  background-color: #22356f;
}
.color .color_wrapper .squere_2 {
  background-color: #0052c1;
}
.color .color_wrapper .squere_3 {
  background: url("../img/yogurt.jpg") center center/cover no-repeat;
}
.color .color_wrapper .squere_4 {
  background-color: #62d0df;
}
.color .color_wrapper .squere_5 {
  background-color: #dee1ff;
}
.color .color_wrapper .squere_6 {
  background-color: #8f00ff;
}
.color .color_wrapper .divider {
  margin: 0 auto;
  margin-top: 95px;
  height: 1px;
  width: 340px;
  background-color: #fff;
}
.color .color_wrapper .help_li {
  margin-top: 31px;
  margin-left: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.color .color_wrapper .help_li .help_li_title {
  font-family: "Larsseit";
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}
.color .color_wrapper .help_li .help_li_round {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 20px;
  background: #e9b730;
}